streamlit==1.41.1
pandas==2.2.3
plotly
opencv-python
tf-keras
deepface
mediapipe
agno==1.7.0
openai==1.58.1
requests==2.32.3
librosa
python-dotenv
moviepy
faster-whisper
fastapi==0.115.5
uvicorn==0.32.1
