raglite==0.2.1
llama-cpp-python>=0.2.56
sentence-transformers>=2.5.1
pydantic==2.10.1
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.9
pypdf>=3.0.0
python-dotenv>=1.0.0
rerankers==0.6.0
spacy>=3.7.0
streamlit>=1.31.0
flashrank==0.2.9
numpy>=1.24.0
pandas>=2.0.0
tqdm>=4.66.0
