raglite==0.2.1
llama-cpp-python>=0.2.56
sentence-transformers>=2.5.1
pydantic==2.10.5
sqlalchemy==2.0.36
psycopg2-binary>=2.9.9
pypdf>=3.0.0
python-dotenv>=1.0.0
rerankers==0.6.0
spacy>=3.7.0
streamlit==1.41.1
flashrank==0.2.9
numpy==1.26.4
pandas==2.2.3
tqdm>=4.66.0
