langchain==0.3.12
langchain-community==0.3.12
langchain-core==0.3.28
qdrant-client==1.12.1
streamlit>=1.29.0
pypdf>=4.0.0
sentence-transformers>=2.2.2
phidata==2.7.3
langchain-openai==0.2.14
langgraph==0.2.53
duckduckgo-search==6.4.1