pydantic==2.10.3
pyyaml==6.0.1
google-play-scraper==1.2.7
crewai==0.80.0
python-dotenv==1.0.1
google-generativeai==0.8.3
openai==1.57.2
requests==2.32.3
numpy==1.26.4
sentence-transformers==3.3.1
scikit-learn==1.5.2
langchain==0.3.11
langchain-community==0.3.11
httpx==0.28.1
uvicorn==0.32.1
fastapi==0.115.6
transformers==4.46.3
huggingface-hub==0.26.5